@charset "UTF-8";

* {

}

body {

}

p {
    font-size: 24px;
}

.button {
    margin-right: 35px;
  background-color: #cbcbcb; /* Red background */
  color: rgb(0, 0, 0); /* White text */
  padding: 14px 25px; /* Spacing inside the button */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove default link underline */
  display: inline-block; /* Allows padding and margins */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Changes the cursor to a hand pointer */
}

.button:hover {
    background-color: rgb(101, 101, 101); /* Color change on hover */
    color: rgb(255, 255, 255);
}

/*Table Styling */

table{
    border: 1px solid #000000;
    margin-bottom: 35px;
}
th, td {
    border-collapse: separate;
    border-bottom: 2px solid #000000;
    border: 1px solid #000000;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
  background-color: #006741;
  color: white;
}
td:hover {background-color: rgb(170, 177, 206);}
tr:hover {background-color: rgb(217, 221, 237);}
th:hover {background-color: #0e9c68;}
th, td {
  padding: 10px;
  text-align: left;
}


/*Misc Stylization*/
col-auto {
    margin-bottom: 10px;
}

.container {

}

.row {
    
}
